{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    {% if user.is_authenticated %}
        <h1>Welcome to Dashboard</h1>
        <h2>Welcome {{ user.username }}!</h2>
        <div class="jumbotron">
        <table class="table">
            <tr>
                <th>S.I</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {% for user in user_data %}
                <tr>
                <th>{{ user.id }}</th>
                <th>{{ user.username }}</th>
                <th>{{ user.email }}</th>
                <th><a href="/delete/{{ user.id }}">delete</a> </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
